<h3>What would you like to calculate?</h3>
	<form action='/result' method='get'>
		<p><input type='text' name='number1' placeholder='number 1' style='font-size: 16px;'>
		<select name='operator' style='font-size: 18px;'>
			<option value='add'>+</option>
			<option value='subtract'>-</option>
			<option value='multiply'>x</option>
			<option value='divide'>รท</option>
		</select>
		<input type='text' name='number2' placeholder='number 2' style='font-size: 16px;'></p>
		<p><button style='font-size: 16px;'>Calculate!</button></p>
	</form>
