<!doctype html>
<html>
	<head>
		<title>My Guest Book</title>
	</head>

	<body>
		<header>
			<h1>Sara's Guest Book</h1>
		</header>

		<div>
			<%= yield %>
		</div>

		<footer>
		<ul style='padding: 0'>
			<li style='display: inline; padding-right: 10px'><a href='/sign'>Sign the guest book!</a></li>
			<li style='display: inline;'><a href='/'>Read the guest book!</a></li>
		</ul>
		</footer>
	</body>
</html>