<h2>I'm so glad you'll sign my guest book!</h2>
<form action='/post' method='post'>
	<input type='text' name='name' placeholder='name'><br/>
	<textarea name='comment' placeholder='say something nice!'></textarea><br/>
	<button>Sign</button>
</form>