<section>
	<form action="/post" method="post">
		<input type="text" name="s" placeholder="enter symbol here">
		<button>Add my stock!</button>
	</form>
	<p><%= MESSAGE %>
	<p>Find a <a href="http://eoddata.com/symbols.aspx">valid ticker symbols</a>.</p>
</section>