<!doctype html>
<html>
	<head>
		<title>What's My Stock Worth?</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
	</head>

	<body>
		<header>
			<h1>What's my stock worth?</h1>
		</header>
			<%= erb :ticker %>
			<%= yield %>

		<footer>
			<p>© nobody because copyright blows</p>
		</footer>

	</body>

</html>